@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;700&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(201, 245, 161);
}

.encabezado {    
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:  #1f132f;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.footer-contenedor { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    background-color: #1f132f;
    font-family: 'IBM Plex Mono', monospace;
    color:#FFFFFF ;
    text-align: center;
    
   

}

h1 {
    font-family: 'Press Start 2P';
    font-size: 14px;
    text-align: center;
}


.form-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 500px;
    gap:40px;
    
}

input {
    width: 100%;
    height: 30px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid #0f203e;
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

.button-contenedor {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
.button-submit{
    background-color: #300751;
    color:#FFFFFF ;
}

.button-reset{
    background-color: #FFFFFF;
    color: #300751 ;
}

button {
    height: 45px;
    min-width: 130px;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    border-radius: 15px;
    background-color: #300751;
}


.main-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    
}

.seccion-productos {
    width: 65%;
}
.seccion-formulario{
    width: 35%;
    padding: 2rem ;
}

.productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  max-height: 70vh; 
  overflow-y: auto;
  padding: 2rem;
  gap: 1rem;
}

.productos-contenedor::-webkit-scrollbar {
    width: 8px; /
}

.productos-contenedor::-webkit-scrollbar-thumb {
    background-color: #c2b7da; 
    border-radius: 4px; 
}

.productos-contenedor::-webkit-scrollbar-track {
    background-color: #ece3e3; 
}
.card {			

    display: flex;
   justify-content: center;
    flex-direction: column;	
    width: calc(100%/4);
    padding: 10px;
    background-color: hwb(86 46% 7%);
    color:#0a0a0a ;	
    border-radius: 5px;
    border: 3px solid #000000;

    
}


.card-container--info{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 550;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: auto;
 
}

.card-container--value{
    display: flex;
    justify-content: space-between;	
    text-align:center;
    min-width:100%;
    
}
.delete-button {
    background-color: transparent;
    border: none;
    
}


.img-container{
    border-color:3px #000000;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
   
}


img {
    max-width: 100%;
    max-height: auto;
   
}



@media screen and (max-width: 768px) {
    .main-contenedor {
        flex-direction: column-reverse; 
        align-items: center;
        justify-content: center;
    }

    .main-contenedor > section {
        width: 100%; 
        margin: 2rem 0 ;
    }

    .form-contenedor {
        padding: 2rem;
    }

    .card {
        width: calc(50% - 10px); 
        margin-bottom: 15px; 
    }

    .button-contenedor{
        flex-direction: column;
        gap: 1rem;
    }

    footer {
        position: relative;
    }

    .footer-contenedor {
        font-size: 14px;
    }
}

@media screen and (max-width: 960px) {

    .button-contenedor{
        flex-direction: column;
        gap: 1rem;
    }
    
}